
.timeline {
    //max-width: 600px;
    padding: 0 6px;
    margin: 0 auto 20px;
}

#timeline-nav {
    position: sticky;
    top: 20px;
    width: 48px;
    height: 0;
    margin-left: -100px;
    opacity: .4;
    transition: opacity .2s ease-in-out;
    &:hover {
        opacity: 1;
    }
    a {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        background-color: var(--plum);
        color: var(--bg-color);
        padding: 2px 4px;
        text-align: center;
        text-decoration: none;
        opacity: .8;
        &:hover,&.active {
            opacity: 1;
        }
        &.active {
            font-weight: 700;
        }
        &:first-child {
            padding-top: 4px;
        }
        &:last-child {
            padding-bottom: 4px;
        }
    }
}

.container.event {
    padding-bottom: 4rem;
    
    .date {
        font-weight: 400;
        font-size: 2.4rem;
        color: #fafafa;
        background-color: var(--plum);
        padding: 6px 15px;
        line-height: 1;
        text-transform: uppercase;
    }

    .event-content {
        margin: 1rem 0;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        img {
            opacity: 1;
        }
    }

    .nrtk-pull {
        opacity: .8;
    }
}

@media (max-width: 575.98px) {

    .timeline {
        margin: 0 -20px 20px;
    }


    #timeline-nav  {
        display: none;
    }

    .container.event {
        padding: 0 15px 1rem;

        .date {
            margin: 1rem -20px;
           
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            font-weight: 400;
        }
        .event-content {
            h3 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1rem;
            }
        }
    
    }
}