<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Десять лет давления</title>

    <link type="text/css" href="https://media.newsroomtoolkit.com/assets/dist/currenttime.latest.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>

<body ontouchstart="">

    <script>
        var STORY_CONFIG = {
            is_gallery_enabled: true,
            is_show_sharing: true,
        };
    </script>

    <div id="nrtk-container">

        <div id="nrtk-story-meta" class="fullscreen cover-left"
            style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .6)), url(https://gdb.currenttime.tv/1bcf0000-0aff-0242-7570-08d9c3d43a86_mw1600_q70_s.jpg); background-position: center left 18%;">






            <div class="branding">
                <a href="/"><img src="https://www.currenttime.tv/Content/responsive/RFE/ru-RU-TV/img/logo-compact.png"
                        alt="Настоящее Время"></a>
            </div>


            <div class="cover">

                <h1>Скованные одной (гребаной) цепью <span>Как за 10 лет в России уничтожили независимую
                        журналистику</span></h1>



                <div class="meta">

                    <div class="left">

                        <p class="credits">Елизавета Сурначева, Контантин Бенюмов</p>




                        <p class="date">21 декабря 2021 года</p>


                    </div>


                    <div class="right">
                        <div class="sharing"><a class="facebook" title="Share on Facebook" target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u="><svg version="1.1" x="0px" y="0px"
                                    width="42px" height="42px" viewBox="0 0 49.652 49.652"
                                    style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                    <g>
                                        <path
                                            d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826 C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845 v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z">
                                        </path>
                                    </g>
                                </svg></a>
                            <a class="twitter" title="Share on Twitter" target="_blank"
                                href="https://twitter.com/share?text=Скованные одной (гребаной) цепью&url="><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 49.652 49.652"
                                    style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                    <g>
                                        <path
                                            d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826 C49.652,11.137,38.516,0,24.826,0z M35.901,19.144c0.011,0.246,0.017,0.494,0.017,0.742c0,7.551-5.746,16.255-16.259,16.255 c-3.227,0-6.231-0.943-8.759-2.565c0.447,0.053,0.902,0.08,1.363,0.08c2.678,0,5.141-0.914,7.097-2.446 c-2.5-0.046-4.611-1.698-5.338-3.969c0.348,0.066,0.707,0.103,1.074,0.103c0.521,0,1.027-0.068,1.506-0.199 c-2.614-0.524-4.583-2.833-4.583-5.603c0-0.024,0-0.049,0.001-0.072c0.77,0.427,1.651,0.685,2.587,0.714 c-1.532-1.023-2.541-2.773-2.541-4.755c0-1.048,0.281-2.03,0.773-2.874c2.817,3.458,7.029,5.732,11.777,5.972 c-0.098-0.419-0.147-0.854-0.147-1.303c0-3.155,2.558-5.714,5.713-5.714c1.644,0,3.127,0.694,4.171,1.804 c1.303-0.256,2.523-0.73,3.63-1.387c-0.43,1.335-1.333,2.454-2.516,3.162c1.157-0.138,2.261-0.444,3.282-0.899 C37.987,17.334,37.018,18.341,35.901,19.144z">
                                        </path>
                                    </g>
                                </svg></a>
                            <a class="telegram"
                                href="https://telegram.me/share/url?text=Скованные одной (гребаной) цепью&url="
                                title="Share on Telegram" target="_blank">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px"
                                    height="42px" viewBox="0 0 242.7 242.7"
                                    style="enable-background:new 0 0 242.7 242.7;" xml:space="preserve">
                                    <path
                                        d="M121.3,0C54.3,0,0,54.3,0,121.3s54.3,121.3,121.3,121.3s121.3-54.3,121.3-121.3S188.3,0,121.3,0z M194,62.8l-24.7,118.7 c-0.6,2.8-3.9,4.1-6.2,2.4l-33.7-24.5c-2-1.5-4.8-1.4-6.8,0.2l-18.7,15.2c-2.2,1.8-5.4,0.8-6.3-1.9l-13-41.7l-33.5-12.5 c-3.4-1.3-3.4-6.1,0-7.4l137.5-53C191.6,57.2,194.6,59.7,194,62.8z">
                                    </path>
                                    <path
                                        d="M161.1,84.3l-65.5,40.3c-2.5,1.5-3.7,4.6-2.9,7.4l7.1,24.9c0.5,1.8,3.1,1.6,3.3-0.2l1.8-13.6c0.3-2.6,1.6-4.9,3.5-6.7	l54-50.2C163.5,85.1,162.2,83.5,161.1,84.3z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>


                </div>

            </div>



        </div>

        <div class="introduction">

            <p>10 лет назад в России начались крупнейшие протесты, ответом на которые стало массированное наступление
                государства на политические свободы, в первую очередь - свободу СМИ, и давление это все последние годы
                только усиливалось.</p>

            <p>Мы нанесли события, связанные с давлением на российские медиа, на схему. Кликните на событие, чтобы
                посмотреть, что происходило с каждым медиа в этом году. Или почитайте длинный текстовый таймлайн с
                историями редакций последних десяти лет.</p>

        </div>

        <!-- CONTENT START -->
        <%= require('html-loader!./html/grid.html').default %>
            <!-- CONTENT END -->

            <div id="grid-legend">
                <div class="color1" data-color="color1">Смена менеджмента</div>
                <div class="color2" data-color="color2">Продажа</div>
                <div class="color3" data-color="color3">Давление, угрозы, суды</div>
                <div class="color4" data-color="color4">Увольнения журналистов</div>
                <div class="color5" data-color="color5">Признание "иноагентом"</div>
                <div class="color6" data-color="color6">Уголовные дела</div>
                <div class="color7" data-color="color7">Блокировка</div>
                <div class="colornone" data-color="colornone">СМИ не существовало</div>
            </div>

            <div class="introduction">
                <p>Для самих журналистов минувшее десятилетие превратилось в игру "поймай меня, если сможешь": ежегодно,
                    если не
                    ежемесячно, и до того работавшие в довольно непростых условиях российские журналисты самых разных
                    изданий
                    сталкивались с судами, штрафами, давлениями на собственников, а под конец - и просто уничтожением
                    СМИ.
                    Журналистские коллективы меняли редакции, открывали новые медиа, сражались за старые, но власти
                    изобретали
                    все новые и новые методы борьбы с теми, кто пытается рассказывать о событиях не с их точки зрения.
                </p>

                <p>"Звенья одной гребаной цепи" - это выражение, с помощью которого в 2012 году бывший главред "Большого
                    города"
                    Филипп Дзядко описал череду неприятных событий в российских медиа. В полушутку долгое время
                    журналисты
                    так
                    называли все события в СМИ, будь то закрытие издания по финансовым причинам или уход журналистов
                    из-за
                    внутренних конфликтов. К 2021 году, когда власти стали массово называть одни СМИ "иноагентами", а
                    совсем
                    неугодные закрывать без суда одним днем, фраза перестала звучать как шутка.</p>

                <p>В этом проекте мы собрали истории независимых федеральных медиа - тех, которые чаще всего
                    подвергались
                    давлению. Сюда вошли только публичные истории - те, о которых писали и говорили вслух. За скобками
                    остались
                    сотни кулуарных переговоров, звонков из Кремля, прямых и непрямых угроз, проблем с рекламодателями,
                    таинственных исчезновений материалов - всего того, что составляло повседневную жизнь многих
                    российских
                    медиа
                    в последние годы.</p>
                <p>Каждая история каждого СМИ и борьбы властей с ним уникальна и для каждого Кремль как будто рисовал
                    свои
                    границы и придумывал свои способы давления. Но несколько тенденций прослеживаются:</p>

                <ul>
                    <li>2014 год стал поворотным годом для отношений России с миром и, как следствие, отношений властей
                        и
                        журналистов: именно с этого года Кремль начал все активнее придумывать новые способы поставить
                        медиапространство и отдельные СМИ под контроль.</li>
                    <li>Любой медиаколлектив, который напрямую не управляется государством, был для Кремля проблемой. С
                        теми
                        медиа, которые уже десять лет назад принадлежали крупному российскому бизнесу, это вылилось в
                        череду
                        бесконечных смен менеджмента и перепродаж. С теми, кто имел в доле иностранный капитал - в
                        законодательное обязательство избавиться от иностранного капитала и, как следствие, во все те же
                        способы
                        работы с редакциями. С теми, кто на кулуарные уговоры не соглашался - блокировки, закрытия,
                        предупреждения.</li>
                    <li>Постепенное выдавливание журналистики из больших редакций привели к целой генерации новых
                        небольших
                        медиа: они не зависели от крупного подконтрольного Кремлю бизнеса, часто не зависели от
                        российского
                        законодательства из-за зарубежной регистрации и, следовательно, не управлялись привычными ранее
                        Кремлю
                        методами. С ними Кремль решил массово разобраться к 2021 году: объявление “иностранными
                        агентами”,
                        признание нежелательными организациями, уголовные дела на руководителей и издателей - издания,
                        которых
                        это не коснулось, можно пересчитать по пальцам.</li>
                </ul>

            </div>

            <%= require('html-loader!./html/timeline.html').default %>

                <div id="nrtk-footer">


                    <div class="sharing">
                        <span>Поделиться</span>
                        <a class="facebook" title="Share on Facebook" target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u="><svg version="1.1" x="0px" y="0px"
                                width="42px" height="42px" viewBox="0 0 49.652 49.652"
                                style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                <g>
                                    <path
                                        d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826 C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845 v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z">
                                    </path>
                                </g>
                            </svg></a>
                        <a class="twitter" title="Share on Twitter" target="_blank"
                            href="https://twitter.com/share?text=Скованные одной (гребаной) цепью&url="><svg
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 49.652 49.652"
                                style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                <g>
                                    <path
                                        d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826 C49.652,11.137,38.516,0,24.826,0z M35.901,19.144c0.011,0.246,0.017,0.494,0.017,0.742c0,7.551-5.746,16.255-16.259,16.255 c-3.227,0-6.231-0.943-8.759-2.565c0.447,0.053,0.902,0.08,1.363,0.08c2.678,0,5.141-0.914,7.097-2.446 c-2.5-0.046-4.611-1.698-5.338-3.969c0.348,0.066,0.707,0.103,1.074,0.103c0.521,0,1.027-0.068,1.506-0.199 c-2.614-0.524-4.583-2.833-4.583-5.603c0-0.024,0-0.049,0.001-0.072c0.77,0.427,1.651,0.685,2.587,0.714 c-1.532-1.023-2.541-2.773-2.541-4.755c0-1.048,0.281-2.03,0.773-2.874c2.817,3.458,7.029,5.732,11.777,5.972 c-0.098-0.419-0.147-0.854-0.147-1.303c0-3.155,2.558-5.714,5.713-5.714c1.644,0,3.127,0.694,4.171,1.804 c1.303-0.256,2.523-0.73,3.63-1.387c-0.43,1.335-1.333,2.454-2.516,3.162c1.157-0.138,2.261-0.444,3.282-0.899 C37.987,17.334,37.018,18.341,35.901,19.144z">
                                    </path>
                                </g>
                            </svg></a>
                        <a class="telegram"
                            href="https://telegram.me/share/url?text=Скованные одной (гребаной) цепью&url="
                            title="Share on Telegram" target="_blank">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px" height="42px"
                                viewBox="0 0 242.7 242.7" style="enable-background:new 0 0 242.7 242.7;"
                                xml:space="preserve">
                                <path
                                    d="M121.3,0C54.3,0,0,54.3,0,121.3s54.3,121.3,121.3,121.3s121.3-54.3,121.3-121.3S188.3,0,121.3,0z M194,62.8l-24.7,118.7 c-0.6,2.8-3.9,4.1-6.2,2.4l-33.7-24.5c-2-1.5-4.8-1.4-6.8,0.2l-18.7,15.2c-2.2,1.8-5.4,0.8-6.3-1.9l-13-41.7l-33.5-12.5 c-3.4-1.3-3.4-6.1,0-7.4l137.5-53C191.6,57.2,194.6,59.7,194,62.8z">
                                </path>
                                <path
                                    d="M161.1,84.3l-65.5,40.3c-2.5,1.5-3.7,4.6-2.9,7.4l7.1,24.9c0.5,1.8,3.1,1.6,3.3-0.2l1.8-13.6c0.3-2.6,1.6-4.9,3.5-6.7	l54-50.2C163.5,85.1,162.2,83.5,161.1,84.3z">
                                </path>
                            </svg></a>
                    </div>



                    <p class="about">Мы – телеканал "Настоящее Время". Мы делаем яркие видео, рассказываем о важных
                        новостях и злободневных темах, готовим интересные репортажи и передачи – смотрите нас на
                        спутнике, в кабельных сетях и в интернете. Каждый день мы присылаем дайджест всего, что нужно
                        знать, одним письмом, а также превращаем цифры в понятные истории.</p>
                    <p class="copyright">© 2021
                        Настоящее Время. Все права защищены</p>
                    <p class="links">
                        <a href="https://www.currenttime.tv">На стартовую</a>
                        <a href="https://newsroomtoolkit.com?utm_source=currenttime&utm_medium=Настоящее Время"
                            title="Built with Newsroom Toolkit" target="_blank" class="nrtk"><img
                                src="https://media.newsroomtoolkit.com/assets/images/favicon.png"
                                alt="Newsroom Tookit"></a>
                    </p>


                </div>
    </div>
</body>

<script type="text/javascript" src="https://media.newsroomtoolkit.com/assets/dist/frontend.latest.js"></script>
<script src="<%=htmlWebpackPlugin.files.js %>"></script>

</html>