<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЗГЦ</title>
    
    <link type="text/css" href="https://media.newsroomtoolkit.com/assets/dist/currenttime.latest.css" rel="stylesheet" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>

<body ontouchstart="">

    <script>
        var STORY_CONFIG = {
            is_gallery_enabled: true,
            is_show_sharing: true,
        };
    </script>

    <!-- CONTENT START -->
    <%= require('html-loader!./grid.html').default %>
        <!-- CONTENT END -->

        <div id="grid-legend">
            <div class="color1">Смена менеджмента</div>
            <div class="color2">Продажа</div>
            <div class="color3">Давление, угрозы, суды</div>
            <div class="color4">Увольнения журналистов</div>
            <div class="color5">Признание “иноагентом”</div>
            <div class="color6">Уголовные дела</div>
            <div class="color7">Блокировка</div>
            <div class="colornone">СМИ не существовало</div>
        </div>

        <%= require('html-loader!./timeline.html').default %>

</body>

<script type="text/javascript" src="https://media.newsroomtoolkit.com/assets/dist/frontend.latest.js"></script>
<script src="<%=htmlWebpackPlugin.files.js %>"></script>

</html>