:root {

    --font: 'Roboto Condensed', sans-serif;

    --color1: #fcf2ca;
    --color2: #ffd580;
    --color3: #ff9a6e;
    --color4: #ff6f6c;
    --color5: #d62d2d;
    --color6: #8c1b1b;
    --color7: #252626;
    --colorNone: #ddd;

    --pink: #f05;
    --plum: #2d1996;
    --bg-color: #fafafa;
    --font-color: #303030;

}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;

}

body {
    font-family: var(--font);
    color: var(--font-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.introduction {
    max-width: 600px;
    padding: 0 15px;
    margin: 1rem auto;
}

.grid-container {
    overflow: hidden;
    max-height: 100%;
    margin: 6px;
}

#grid-legend {
    max-width: 600px;
    padding: 0 6px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;

    > div {

        --itemColor: var(--color1);
        --itemBorderColor: var(--pink);
        font-size: .8rem;
        line-height: 1.1em;
        text-align: center;
        opacity: .85;
        padding: 6px 4px;
        background-color: var(--itemColor);
        border: 1px solid transparent;
        color: #252626;
        cursor: pointer;

        &.active,&:hover {
            opacity: 1;
            border-color: var(--itemBorderColor);
        }

        &.color2 {
            --itemColor: var(--color2);
            //background-color: var(--color2);
        }
        &.color3 {
            --itemColor: var(--color3);
            //background-color: var(--color3);
        }
        &.color4 {
            --itemColor: var(--color4);
            //background-color: var(--color4);
        }
        &.color5 {
            --itemColor: var(--color5);
            //background-color: var(--color5);
            color: #fafafa;
        }
        &.color6 {
            --itemColor: var(--color6);
            //background-color: var(--color6);
            color: #fafafa;
        }
        &.color7 {
            --itemColor: var(--color7);
            //background-color: var(--color7);
            color: #fafafa;
        }

        &.colornone {
            --itemColor: var(--colorNone);
            //background-color: var(--colorNone);
            //color: #fafafa;
        }
    }
}

#main-grid {
    width: 600px;
    margin: 0 auto 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid #9ea2b2;
    border-left: 1px solid #9ea2b2;

    .header {
        background-color: #262626;
        color: #fafafa;
        font-size: .8rem;
        padding: 4px 4px;
        text-align: center;
    }

    .logo {
        min-width: 120px;
        max-width: 160px;
        background-color: #d5dae7;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;

        border-top: 1px solid #9ea2b2;
        border-right: 1px solid #64697b;

        &.darker {
            background-color: #b0b6c4;
        }

        &.kommersant {
            background-image: url(./images/logo/kommersant.png);
        }

        &.vedomosti {
            background-image: url(./images/logo/vedomosti.png);
        }

        &.ekho {
            background-image: url(./images/logo/ekho.png);
            background-size: 50%;
        }

        &.rbc {
            background-image: url(./images/logo/rbc.png);
            background-size: 50%;
        }

        &.forbes {
            background-image: url(./images/logo/forbes.png);
            background-size: 50%;
        }

        &.novaya {
            background-image: url(./images/logo/novaya.png);
        }

        &.newtimes {
            background-image: url(./images/logo/newtimes.png);
        }

        &.grani {
            background-image: url(./images/logo/grani.png);
            background-size: 45%;
        }

        &.svoboda {
            background-image: url(./images/logo/svoboda.png);
        }

        &.lenta {
            background-image: url(./images/logo/lenta.png);
        }

        &.gazeta {
            background-image: url(./images/logo/gazeta.png);
        }

        &.ria {
            background-image: url(./images/logo/ria.png);
        }

        &.dozhd {
            background-image: url(./images/logo/dozhd.png);
        }

        &.ovd {
            background-image: url(./images/logo/ovd.png);
        }

        &.planeta {
            background-image: url(./images/logo/planeta.png);
        }

        &.insider {
            background-image: url(./images/logo/insider.png);
        }

        &.meduza {
            background-image: url(./images/logo/meduza.png);
        }

        &.mediazona {
            background-image: url(./images/logo/mediazona.png);
        }

        &.thebell {
            background-image: url(./images/logo/thebell.png);
        }

        &.mbkh {
            background-image: url(./images/logo/mbkh.png);
        }

        &.proekt {
            background-image: url(./images/logo/proekt.png);
        }

        &.vazhnyeistorii {
            background-image: url(./images/logo/vazhnyeistorii.png);
        }

        &.vtimes {
            background-image: url(./images/logo/vtimes.png);
        }
    }

    .year {
        min-width: 0;
        padding: 2px;
        height: 20px;
        background-color: var(--color);
        border-top: 1px solid #bec2d1;
        border-right: 1px solid #bec2d1;
        transition: background-color .2s ease-in-out;

        &.color1,&.color2,&.color3,&.color4,&.color5,&.color6,&.color7,&.nobel {
            cursor:pointer;
            opacity: .9;
    
            &:hover {
                opacity: 1;
                transform: scale(1.1) translateY(1px);
                border: none;
                z-index: 1000;
                -webkit-box-shadow: 1px 1px 5px 0px rgba(38,38,38,0.44); 
                box-shadow: 1px 1px 5px 0px rgba(38,38,38,0.44);
            }
        }
        

        &.color1 {
            --color: var(--color1);
        }
        &.color2 {
            --color: var(--color2);
        }
        &.color3 {
            --color: var(--color3);
        }
        &.color4 {
            --color: var(--color4);
        }
        &.color5 {
            --color: var(--color5);
        }
        &.color6 {
            --color: var(--color6);
        }
        &.color7 {
            --color: var(--color7);
        }
        &.colornone {
            --color: var(--colorNone);
        }
        &.nobel {
            background-image: url(images/nobel-icon.png);
            background-size: 22px;
            background-position: center;
            background-repeat: no-repeat;
            --color: var(--bg-color);
        }


        &.colornone {
            border: none;
            height: 21px;   
            --color: var(--colorNone);
        }
        &.colornone-top {
            height: 20px;
            border-top: 1px solid #63697d;
        }
        &.colornone-right {
            border-right: 1px solid #63697d;
        }
        &.fix-corner {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 1px;
                background: #63697d;
            }
        }

        &.fade {
            background-color: transparent;
            //opacity: .2;
            &.highlight {
                background-color: var(--color);
                //opacity: 1;
            }
        }

    }
}

@media (max-width: 575.98px) {

    .grid-container {
        overflow-y: auto;
        overflow-x: scroll;
    }

}

@import 'css/_chainsaw';
@import 'css/_timeline';