:root {
    --font: 'Roboto Condensed', sans-serif;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

.grid-container {
    overflow-x: scroll;
    margin: 6px;
}

#main-grid {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid #9ea2b2;
    border-left: 1px solid #9ea2b2;

    .header {
        background-color: #262626;
        color: #fafafa;
        font-size: .8rem;
        padding: 4px 4px;
        text-align: center;
    }
    .logo {
        min-width: 120px;
        max-width: 160px;
        background-color: #d5dae7;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;

        border-top: 1px solid #9ea2b2;
        border-right: 1px solid #64697b;

        &.darker {
            background-color: #b0b6c4;
        }

        &.kommersant {
            background-image: url(./images/logo/kommersant.png);
        }

        &.vedomosti {
            background-image: url(./images/logo/vedomosti.png);
        }

        &.ekho {
            background-image: url(./images/logo/ekho.png);
            background-size: 50%;
        }

        &.rbc {
            background-image: url(./images/logo/rbc.png);
            background-size: 50%;
        }

        &.forbes {
            background-image: url(./images/logo/forbes.png);
            background-size: 50%;
        }

        &.novaya {
            background-image: url(./images/logo/novaya.png);
        }

        &.newtimes {
            background-image: url(./images/logo/newtimes.png);
        }

        &.grani {
            background-image: url(./images/logo/grani.png);
            background-size: 50%;
        }

        &.svoboda {
            background-image: url(./images/logo/svoboda.png);
        }

        &.lenta {
            background-image: url(./images/logo/lenta.png);
        }

        &.gazeta {
            background-image: url(./images/logo/gazeta.png);
        }

        &.ria {
            background-image: url(./images/logo/ria.png);
        }

        &.dozhd {
            background-image: url(./images/logo/dozhd.png);
        }

        &.ovd {
            background-image: url(./images/logo/ovd.png);
        }

        &.planeta {
            background-image: url(./images/logo/planeta.png);
        }

        &.insider {
            background-image: url(./images/logo/insider.png);
        }

        &.meduza {
            background-image: url(./images/logo/meduza.png);
        }

        &.mediazona {
            background-image: url(./images/logo/mediazona.png);
        }

        &.thebell {
            background-image: url(./images/logo/thebell.png);
        }

        &.mbkh {
            background-image: url(./images/logo/mbkh.png);
        }

        &.proekt {
            background-image: url(./images/logo/proekt.png);
        }

        &.vazhnyeistorii {
            background-image: url(./images/logo/vazhnyeistorii.png);
        }

        &.vtimes {
            background-image: url(./images/logo/vtimes.png);
        }
    }
    .year {
        padding: 2px;
        height: 20px;
        background-color: var(--color);
        border-top: 1px solid #bec2d1;
        border-right: 1px solid #bec2d1;

        &.color-1 {
            --color: #fcf2ca;
        }
        &.color-2 {
            --color: #ffd580;
        }
        &.color-3 {
            --color: #ff9a6e;
        }
        &.color-4 {
            --color: #ff6f6c;
        }
        &.color-5 {
            --color: #d62d2d;
        }
        &.color-6 {
            --color: #8c1b1b;
        }
        &.color-7 {
            --color: #252626;
        }

        &.white {
            border: none;
            height: 21px;
            //border-top: 1px solid #fff;
            //border-right: 1px solid #fff;
            --color: #fff
        }
        &.white-top {
            height: 20px;
            border-top: 1px solid #63697d;
        }
        &.white-right {
            border-right: 1px solid #63697d;
        }
        &.fix-corner {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 1px;
                background: #63697d;
            }
        }
    }
}